.table {
  margin-bottom: 10px;
}

.button {
  display: block;
  margin: auto;
  margin-bottom: 40px;
  background: #1e90ff;
  border: 1px solid #ffffff;
  border-radius: 5px;
  cursor: pointer;
  color: #ffffff;
}

.disabled {
  display: none;
}

.error {
  text-align: center;
  font-weight: bold;
  color: red;
}