.div {
  text-align: center;
}

.span {
  display: inline-block;
  box-sizing: border-box;
  width: 40px;
  margin: 0 10px;
  padding: 10px;
  border: 1px solid #1e90ff;
  background: #ffffff;
  cursor: pointer;
}

.button {
  margin: 0;
  padding: 11px;
  border: none;
  cursor: pointer;
  background: transparent;
  font-weight: bold;
  color: #000000;
}